node_modules/
dist/
publish/

.DS_Store
.env
.env.*

android/.gradle/
android/build/
android/app/build/
android/local.properties

ios/App/Pods/
ios/App/DerivedData/
ios/App/build/
ios/App/*.xcuserdata/
ios/App/xcuserdata/
